section.gallery {
  max-width: 1536px;
  @media (min-width: 640px) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.pswp__top-bar {
  display: none;
}

.card {
  border-style: solid;
  border-width: 2px;
}
